@font-face {
    font-family: 'Roboto';
    src: url('./assets/fonts/Roboto-Regular.woff2') format('woff2'),
        url('./assets/fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --theme-color: rgb(0, 145, 255);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

*:focus-visible {
    outline: 2px solid var(--theme-color);
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 50px;
    z-index: 2;
    background-color: var(--theme-color);
    box-shadow: 1px 0 5px rgb(175, 175, 175);
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    min-width: 225px;
    padding: 15px;
}

.sidebar-header, .sidebar-item {
    display: grid;
    grid-template-columns: 45px 1fr;
    gap: 12px;
    align-items: center;
}

.sidebar-header {
    color: white;
}

.sidebar-item a {
    color: white;
    text-decoration: none;
}

.sidebar h1:hover{
    cursor: pointer;
}

.sidebar-title {
    font-size: 24px;
    font-weight: 700;
}

.sidebar-item-name {
    font-size: 20px;
    font-weight: 600;
}

.sidebar-title-icon, .sidebar-item-icon {
    filter: invert(1);
    justify-self: center;
}

.sidebar-item + .sidebar-item {
    margin-top: 20px;
}

.sidebar-title-icon {
    height: 45px;
    width: 45px;
}

.sidebar-item-icon, .header-icon {
    height: 22px;
    width: 22px;
    align-self: center;    
}

.header {
    z-index: 1;
    box-shadow: 0 5px 5px rgb(175, 175, 175);
    grid-column: 2 / 3;
    padding: 16px 45px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 16px;
}

.header-top {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 50px;
}

.search-area {
    display: flex;
    align-items: center;
    gap: 15px;
}

.search-bar {
    height: 2rem;
    width: 90%;
    min-width: 100px;
    padding: 5px 15px;
    border: none;
    border-radius: 50rem;
    background-color: rgb(202, 215, 222);
}

.user-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.profile-picture-top {
    height: 45px;
    width: 45px;
    flex-shrink: 0;
    border-radius: 100%;
    overflow: hidden;
}

.profile-picture-top img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.user-name-top {
    font-size: 1.15rem;
    font-weight: 600;
}

.header-bottom {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 75px;
}

.user-greeting {
    display: grid;
    align-items: center;
    grid-template-columns: 80px max-content;
    grid-row: 1fr 1fr;
    gap: 5px;
}

.profile-picture-greeting {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    height: 70px;
    width: 70px;
    border-radius: 100%;
    overflow: hidden;
}

.profile-picture-greeting img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.greeting {
    font-size: 13px;
    font-weight: 600;
    align-self: flex-end;
}

.user-name-greeting {
    font-size: 1.5rem;
    font-weight: 700;
    align-self: flex-start;
}

.action-bar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    gap: 15px;
}

.action-btn {
    color: white;
    background-color: var(--theme-color);
    font-size: 15px;
    font-weight: 600;
    height: 40px;
    width: 90px;
    border: none;
    border-radius: 20px;
}

.content-container {
    background-color: rgb(202, 215, 222);
    grid-row: 2 / 3;
}